footer{
    background-color: #343a40;
}

.cuadro{
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.cuadro-f{
    padding: 60px 10px 50px 680px;
    margin-bottom: 0px;
}


