
$primary: #343a40;
$secondary: #3A656D;
$black: #000000;
$white: #ffffff;


$font-principal: 'Public Sans', sans-serif;

$spacing-large: 6rem;
$spacing-medium: 2.5rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;

$fuentes:(
    $text-large: 5.2em,
    $text-medium: 2.2em,
    $text-base: 1.6em,
    $text-small: 1.4em,
)